@import "global.module.scss";

.MultiplicationTablePage {
  display: flex;
  flex-direction: column;

  .tablesSelector {
    max-width: 80%;
    margin-bottom: 30px;
    align-self: center;
  }

  .startStopButton {
    align-self: center;
    margin-bottom: 30px;
  }

  .question {
    width: 80%;
    max-width: 500px;
    height: 40px;
    margin-bottom: 30px;
    padding: 5px 10px;
    align-self: center;
    margin-bottom: 30px;
  }

  .keyboard {
    max-width: 80%;
    align-self: center;
  }
}
