.MultiplicationTablePage {
  display: flex;
  flex-direction: column;

  .tablesSelector {
    max-width: 80%;
    margin-bottom: 10px;
    align-self: center;
  }

  .startStopButton {
    align-self: center;
    margin-bottom: 10px;
  }

  .keyboard {
    max-width: 80%;
    align-self: center;
  }
}
