@import "global.module.scss";

.Button {
  display: flex;
  justify-content: center;
  border-radius: $radius;
  padding: 5px 10px;
  background: $actionBackground;
  cursor: pointer;
}

.Button:hover {
  background: $hoveredBackground;
}
