@import "global.module.scss";

.Button {
  display: flex;
  justify-content: center;
  border-radius: $radius;
  padding: 5px 10px;
  background: $actionBackground;
  cursor: pointer;

  * {
    user-select: none;
  }
}

.Button:hover {
  background: $hoveredBackground;
}

.Button.disabled {
  background: $actionDisabledBackground;
}

* {
  user-select: none;
}
