@import "global.module.scss";

.TablesSelector {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;

  .table {
    width: calc(1 / 4 * 100% - 20px);
    margin: 0 auto 20px auto;
    justify-content: center;
  }

  .table:nth-last-of-type(-n + 4) {
    margin-bottom: 0;
  }
}
