@import "global.module.scss";

.TablesSelector {
  display: flex;
  flex-wrap: wrap;

  .table {
    flex: 1 1 25%;
    margin-bottom: 10px;
  }

  .table:nth-last-of-type(-n + 4) {
    margin-bottom: 0;
  }
}
