@import "global.module.scss";

.App {
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $textColor;

  .tablesSelector {
    max-width: 80%;
    margin-bottom: 10px;
    align-self: center;
  }
  .startButton {
    align-self: center;
  }
}
