$textColor: white;
$background: #282c34;
$textViewBackground: white;
$textViewColor: black;
$actionBackground: #45494e;
$mainActionBackground: #1461be;
$hoveredBackground: #5c6a7c;
$mainHoveredBackground: #3a82da;
$actionDisabledBackground: #382f2f;
$radius: 3px;
